NEXT_PUBLIC_API_URL=https://fitia-api-u7u9.onrender.com
NEXT_PUBLIC_BASE_URL=https://fitia.onrender.com
SERVER_API_URL=https://fitia-api-u7u9.onrender.com

DATABASE_URL=postgresql://user:password@host:5432/database
BETTER_AUTH_SECRET=change-me
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
